.vs
bin
GatewayRequestApi/obj
Message.Domain/obj
Message.Infrastructure/obj
obj
GatewayRequestApi/Properties/PublishProfiles
elasticsrchdata01
.github/workflows
azure-pipelines.yml
azure-pipelines.yml
